body {
	background: #343423;
	color: #FFFFFF;
}

.center {
	width: 600px;
	height: 522px;
	position: absolute;
	left: 50%;
	top: 50%; 
	margin-left: -300px;
	margin-top: -261px;
}

textarea#input {
	overflow: hidden;
	padding: 10px;
	font-size: 14px;
}
